name: tests
on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

jobs:
  unit-tests:
    uses: salesforcecli/github-workflows/.github/workflows/unitTest.yml@main

  external-nuts-deploy-retrieve:
    needs: unit-tests
    name: external-nuts-deploy-retrieve
    strategy:
      fail-fast: false
      matrix:
        command:
          - 'yarn test:nuts:tracking'
          - 'yarn test:nuts:deploy:metadata:metadata-dir'
          - 'yarn test:nuts:deploy:metadata:manifest'
          - 'yarn test:nuts:deploy:metadata:metadata'
          - 'yarn test:nuts:deploy:metadata:source-dir'
          - 'yarn test:nuts:deploy:metadata:test-level'
          - 'yarn test:nuts:static'
        os:
          - ubuntu-latest
          - windows-latest
    uses: salesforcecli/github-workflows/.github/workflows/externalNut.yml@main
    with:
      packageName: '@salesforce/sf-plugins-core'
      externalProjectGitUrl: 'https://github.com/salesforcecli/plugin-deploy-retrieve'
      preBuildCommands: 'shx rm -rf node_modules/@oclif/core; shx rm -rf node_modules/@salesforce/kit; shx rm -rf node_modules/@salesforce/core'
      command: ${{ matrix.command }}
      os: ${{ matrix.os }}
    secrets: inherit

  external-nuts-linux:
    name: external-nuts-linux
    needs: unit-tests
    strategy:
      fail-fast: false
      matrix:
        repo:
          - plugin-env
          - plugin-generate
          - plugin-login
        os:
          - ubuntu-latest
          - windows-latest
    uses: salesforcecli/github-workflows/.github/workflows/externalNut.yml@mdonnalley/external-nut-envs
    with:
      packageName: '@salesforce/sf-plugins-core'
      externalProjectGitUrl: 'https://github.com/salesforcecli/${{matrix.repo}}'
      preBuildCommands: 'shx rm -rf node_modules/@oclif/core ; shx rm -rf node_modules/@salesforce/kit ; shx rm -rf node_modules/@salesforce/core'
      command: yarn test:nuts
      os: ${{ matrix.os }}
    secrets: inherit
